
// clearing floats
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// centering containers
@mixin absCenetr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
// MEDIA QUERY MANAGER
/*
300px : Small-Phone
300px - 600px : Phone
600 - 900px : Tablet portrait
900 - 1200px : Tablet landscape
[1200 -1600] : Normal styles apply
[1600 - 1800]: Medium desktop
1800px + : Big desktop

$breakpoint argument choice:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

*/
@mixin respond($breakpoint) {

    @if $breakpoint == small-phone {
        @media only screen and (max-width: 28.125em) {
            @content
        };
        // 450px
    }

    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {
            @content
        };
        // 600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) {
            @content
        }; // 900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {
            @content
        }; // 1200px
    }
    @if $breakpoint == medium-desktop {
        @media only screen and (max-width: 100em) {
            @content
        }; // 1600px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content
        }; // 1800px
    }

    //disabling hover efect
    @if $breakpoint == no-hover {
        @media only screen and (min-width: 90em) {
            @content
        }; // 1440px
    }
}
