//Colors:
$header-main-color: #1ee3cf;
$header-second-color: #6b48ff;
$background-color: #f2f4f6;
$background-color-2:#fdbf00;
$font-color-2: #f2f4f6;

//font sizes:
$header-h1-font-size: 6rem;
$header-h2-font-size: 4rem;
$header-h3-font-size: 2rem;
$paragraph-font-size: 2rem;

// margin bottom:
$marginbottom-large: 6rem;
$marginbottom-medium: 3rem;
$marginbottom-small: 2rem;

//Background variables:
$bg-dot-size: .1rem;
$bg-dot-space: 3rem;
$bg-dot-color: black;
$bg-color: white;
