.header-main {
    position: relative;
    width:100%;
    height: auto;
    background-color: $header-main-color;

    &_img {
        position:absolute;
        right:10rem;
        top:15%;
        width:15rem;
        height:15rem;
        z-index: 10;

        @include respond(big-desktop){
            top: 8%;
        }

        @include respond(medium-desktop){
            top: 15%;
            right:8rem;
        }

        @include respond(tab-land) {
            top: 25%;
            right:7rem;
            width:10rem;
            height:10rem;
        }

        @include respond(tab-port) {
            top: 3rem;
        }

        @include respond(phone) {
            right:2rem;
            top: 32%;
            width:7rem;
            height:7rem;
        }
    }

    &_content {
        height: 25vh;
        width: 70vw;
        position: relative;
        background-color: $header-second-color;
        display:block;
        -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
        z-index: 10;
        @include respond(medium-desktop) {
            width: 82vw;
        }

        @include respond(tab-land) {
            height: 21rem;
        }

        @include respond(tab-port) {
            -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
            width: 80vw;
            height: 15vh;
        }

        @include respond(phone) {
            -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
            clip-path: none;
            width: 100vw;
            height: 15vh;
        }

        &_header-1 {
            @include absCenetr();
            width:80%;

            @include respond(medium-desktop) {
                font-size: 4.2rem;
            }

            @include respond(tab-port) {
                font-size: 3.5rem;
            }

            @include respond(phone) {
                font-size: 3rem;
                text-align: center;
            }

            span {
                color: $background-color-2;
                font-weight: 600;
            }
        }
    }
}
