.header-main {
    position: relative;
    width:100%;
    height: auto;
    background-color: $header-main-color;

    &_img {
        position:absolute;
        right:10rem;
        top:1.5rem;
        width:15rem;
        height:15rem;
        z-index: 10;

        @include respond(tab-land) {
            right:5rem;
            top: 2.5rem;
            width:10rem;
            height:10rem;
        }

        @include respond(tab-port) {
            right:10rem;
            top: 3rem;
        }

        @include respond(phone) {
            right:2rem;
            top: 8rem;
            width:7rem;
            height:7rem;
        }
    }

    &_content {
        height: 25vh;
        width: 70vw;
        position: relative;
        background-color: $header-second-color;
        display:block;
        -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
        z-index: 10;

        @include respond(tab-land) {
            height: 20vh;
        }

        @include respond(tab-port) {
            -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
            width: 65vw;
            height: 15vh;
        }

        @include respond(phone) {
            -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
            width: 90vw;
            height: 15vh;
        }

        &_header-1 {
            margin-left: 10rem;
            display: block;

            @include respond(tab-land) {
                margin-left: 5rem;
                font-size:5rem;
            }

            @include respond(tab-port) {
                margin-left: 2rem;
                font-size: 4rem;
            }

            span {
                color: $background-color-2;
                font-weight: 600;
            }
        }
    }
}
